<div>
    <button class="open-button" onclick="openForm()"><i class="cil-chat-bubble"></i></button>

    <div class="chat-popup" id="myForm">
        <div class="form-container">
            <blockquote id="chat_root">
            </blockquote>
            <div class="input-group">
                <input id="chat-message-input" type="text" autocomplete="off" placeholder="Please enter chat..." style="width: 250px;height: 35px;margin: 0px 0px 20px 5px">
                <button id="chat-message-submit" type="button" class="btn btn-success" style="width: 40px; height: 35px; margin: 0px 0px 20px 10px"><i class="cil-cursor"></i></button>
            </div>
            <button type="button" class="btn" onclick="closeForm()" style="width: 300px;height: 40px;margin-left: 5px;text-align: center">Close</button>
        </div>
    </div>
</div>

<style>
    blockquote#chat_root {
        margin: 0 auto;
        max-width: 320px;
        height: 400px;
        overflow:scroll;
    }
    p.chat_log {
        margin: 0 0 0.5em;
        border-radius: 1em;
        padding: 0.5em 1em;
        background: #e5e5ea;
        max-width: 75%;
        clear: both;
        position: relative;
    }
    p.chat_log.them {
        float: left;
    }
    p.chat_log.me {
        float: right;
        background-color: #1289fe;
        color: white;
    }
</style>