<div>
    <button class="open-button" onclick="openForm()"><i class="cil-chat-bubble"></i></button>

    <div class="chat-popup" id="myForm">
        <div class="form-container">
            <textarea id="chat-log" style="width: 300px;height: 300px; margin-left: 5px; font-size: 15px"></textarea>
            <div class="input-group">
                <input id="chat-message-input" type="text" placeholder="Search for..." style="width: 250px;height: 35px;margin: 0px 0px 20px 5px">
                <button id="chat-message-submit" type="button" class="btn btn-success" style="width: 40px; height: 35px; margin: 0px 0px 20px 10px"><i class="cil-cursor"></i></button>
            </div>
            <button type="button" class="btn" onclick="closeForm()" style="width: 300px;height: 40px;margin-left: 5px;text-align: center">Close</button>
        </div>
    </div>
</div>